<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" 
                 scriptProcessor="D:\home\python364x64\python.exe|D:\home\python364x64\Scripts\wfastcgi.py" 
                 resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Django Handler" stopProcessing="true">
                    <match url="^(.*/)?$" />
                    <action type="Rewrite" url="django_app.wsgi" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <appSettings>
        <!-- Asegúrate de actualizar los valores de PYTHONPATH y DJANGO_SETTINGS_MODULE según tu proyecto -->
        <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
        <add key="WSGI_HANDLER" value="kabasisWeb.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="kabasisWeb.settings" />
        <!-- Configura aquí el resto de tus variables de entorno necesarias para tu proyecto -->
    </appSettings>
</configuration>

<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule"
                 scriptProcessor="D:\home\python364x64\python.exe|D:\home\python364x64\Scripts\wfastcgi.py"
                 resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Django Handler" stopProcessing="true">
                    <match url="^(.*/)?$" />
                    <action type="Rewrite" url="django_app.wsgi" />
                </rule>
                <!-- Regla para servir archivos estáticos -->
                <rule name="StaticFiles" stopProcessing="true">
    			<match url="^static/(.*)" />
    			<action type="Rewrite" url="static/{R:1}" />
		</rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <!-- Agrega aquí más mapeos de tipos MIME según sea necesario -->
        </staticContent>
    </system.webServer>
</configuration>













DATABASES = {
    'default': {
        'ENGINE': 'mssql',
        'NAME': 'kabasisWeb2',
        'USER': 'sa',
        'PASSWORD': '12345678',
        'HOST': 'DESKTOP-F2LIVPI',
        'PORT': '',
        'OPTIONS': {
            'driver': 'ODBC Driver 17 for SQL Server',
        },

    }
}
