{% extends "KabasisWebApp/base.html"%}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid py-5">
    <div class="container bg-white p-5 rounded">
        <h2 class="text-center mb-4">Editar Quiz</h2>
        <p>Curso: {{ idCurso }}</p>
        <p>Unidad: {{ unidad }}</p>
        {% for pregunta in questions %}
            <div class="question mb-4">
                <h5>{{ forloop.counter }}. {{ pregunta.text }}</h5>
                {% if pregunta.question_type == 'option' %}
                    <div class="option-fields">
                        <p>a. {{ pregunta.option_a }}</p>
                        <p>b. {{ pregunta.option_b }}</p>
                        <p>c. {{ pregunta.option_c }}</p>
                        <p>d. {{ pregunta.option_d }}</p>
                    </div>
                {% endif %}
                    <div class="btn-group" role="group" aria-label="Acciones">
                        <form method="POST" action="{% url 'delete_question' pregunta.quiz_id %}" class="mr-2">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                        <form method="POST" action="{% url 'update_question' pregunta.quiz_id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </form>
                    </div>
            </div>
        {% empty %}
            <p>No hay preguntas</p>
        {% endfor %}

        <div class="container">
            <div class="row justify-content-center align-items-center">
                <!-- Boton para volver al editor de contenido -->
                <div class="col-md-3 mb-2 text-center">
                    <a href="{% url 'editContenido' %}" class="btn btn-secondary btn-block">Volver al Editor de Contenido</a>
                </div>
                
                <!-- Boton para agregar pregunta -->
                <div class="col-md-3 mb-2 text-center">
                    <a href="{% url 'crear_preguntaContent' id=quiz.id %}" class="btn btn-primary btn-block">Crear Pregunta</a>
                </div>
                
                <!-- Boton vista previa quiz -->
                <div class="col-md-3 mb-2 text-center">
                    <a href="{% url 'formulario2' id=quiz.id %}" class="btn btn-primary btn-block">Vista Previa Quiz</a>
                </div>
            </div>
        </div>

</div>
{% endblock %}